.content {
    margin-top: 50px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.jumbotron{
    height: 60vh;
}

/*Grid setup*/
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

a:hover{
    text-decoration: none;
}

.btn {
    border-radius: 0;
}

.btn-primary{
    background-color: #0074d9;
}

/* Navbar stuff. */
.navbar{
    border-radius: 0;
    background-color:#0074d9;
    border: 0;
}

/* Navbar button on mobile. */
button..navbar .container .navbar-headernavbar-toggle, .navbar .container .navbar-header .navbar-toggle:focus{
    background-color: #0074d9;
    color: #FFFFFF;
    border-radius: 0;
}
.navbar .container .navbar-header .navbar-toggle:hover{
    background-color: #00569e;
}

.navbar .container .navbar-header .navbar-toggle .icon-bar{
    background-color: #FFFFFF;
    border-radius: 0;
}

.navbar .container .navbar-header .navbar-collapse{
    border: none;
}

/*Dropdown*/
.nav .open > a:hover, .nav .open > a:focus {
    background-color: #0074d9;  
    color: #FFFFFF;
}  

.dropdown-menu{
    background-color: #0074d9;  
    border: 0;
}

/*Branding */
.navbar .container .navbar-header .navbar-brand{
    color: #FFFFFF;
    font-size: 1.4em;
}
.navbar .container .navbar-header .navbar-brand:hover{
    color: #e6e6e6;
}

/* Links */
.navbar .container .navbar-collapse .navbar-nav li a{
    background-color: #0074d9; 
    color: #FFFFFF;
    font-size: 1.1em;
}

.navbar .container .navbar-collapse .navbar-nav li a:hover{
    color: #e6e6e6;  
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-image: none;
    background-color: #328ddd;
}
/* END OF NAVBAR CSS */
