/* General Content */
@mixin Raleway (){
    font: {
        family: "Raleway", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        weight: 400;
    }
}

body, h1, h2, h3, h4, h5, h6 {
    @include Raleway;
}

a:hover, a:focus, a:active{
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

// Border highlighting for form fields.
.ng-dirty{
    &.ng-invalid{
        border-color: #FA787E;
    }
    &.ng-valid{
        border-color: #78FA89;
    }
}

// Made with love.
.love{
    text-align: center;
    color: grey;
}

// section.content is each individual page view.
.content {
    margin-top: 50px;
}
