/* Navbar Content - 'header.client.view.html' */

$gold: #FCD450;
$navbarBackground: #212121;

.navbar{
    border-radius: 0;
    background-color:$navbarBackground;
    border: 0;
}

/* Events Dropdown */

// Mobile & Branding
.navbar-header{
    // Branding
    .navbar-toggle .icon-bar{
        background-color: $gold;
    }
    .navbar-brand{
        color: #FFFFFF;
        font-size: 1.4em;
        &:hover{
            color: $gold;
        }
    }

}

nav{
    ul.nav{
        cursor: pointer;
        li a{
            color: white;
            background-color: $navbarBackground;
            &:focus{
                color: $gold;
                background-color: $navbarBackground;
            }
            &:hover{
                background-color: $navbarBackground;
                color: $gold;
            }
            &:active{
                background-color: $navbarBackground;
                color: white;
            }
        }
        /*Dropdown*/

        .open>a{
            background-color: $navbarBackground;
            color: white;
            &:hover, &:focus{
                background-color: $navbarBackground;
                color: $gold;
            }
        }
    }

    .dropdown-menu{
        background-color: $navbarBackground;
        border: 0;

        .active > a{
            background-color: $gold;
            color: $navbarBackground;
            &:hover{
                background-color: $gold;
                color: $navbarBackground;
            }
        }
    }
}

