<section class="container-fluid" data-ng-controller="SettingsController">
    <div class="row">
        <h3 class="col-md-12 text-center" ng-show="user.verified">Edit your profile</h3>
        <div class = "unverified" ng-hide="user.verified">
            <h2>Hey there! It looks like you're unverified.</h2>
            <p>You should add an @uwaterloo.ca email so you can create events!</p>
        </div>
    </div>
    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
        <fieldset>
            <div class="edit-profile row">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
                    <div class = "name form-group">
                        <div class = "col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
                        </div>
                        <div class = "col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="displayName" ng-show="user.displayName">Display Name</label>
                        <label for="displayName" ng-hide="user.displayName">Display Name (Optional)</label>
                        <input type="text" id="displayName" name="displayName" class="form-control" data-ng-model="user.displayName" placeholder="Display Name (optional)">
                    </div>
                </div>

                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class="form-group">
                    <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
                </div>
                <div data-ng-show="success" class="text-success">
                    <strong>Profile Saved Successfully</strong>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>

        </fieldset>
    </form>
</section>
