<section data-ng-controller="EventsController" data-ng-init="find()" class="container">
    <div class="page-header">
        <h1>Events</h1>
    </div>
    <div class="list-group">
        <!-- Time filter currently not working -->
        <a data-ng-repeat="event in events | orderBy:datetime_start" data-ng-href="#!/events/{{event._id}}" class="list-group-item">				
			<h4 class="list-group-item-heading">{{event.name}} |<small> {{event.organizer}}</small></h4>
            <small class="list-group-item-text" data-ng-bind-template="{{event.datetime_start | date:'longDate'}} at {{event.datetime_start | date:'shortTime'}}"></small>		
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
    	No events yet, why don't you <a href="/#!/events/create">create one</a>?
    </div>
</section>
