<section data-ng-controller="EventsController" data-ng-init="findOne()" class="container">
	<div class="page-header">
		<h1>{{event.name}} | <small>{{event.organizer}}</small> | <small>{{event.category}}</small></h1>
	</div>
    
    <!-- Display event information -->
    <h4><b>Location:</b> {{event.location}}</h4>
    <h4><b>Start:</b> {{event.datetime_start | date:"EEEE, MMMM d, yyyy 'at' hh:mm a"}}</h4>
    <h4><b>End:</b> {{event.datetime_end | date:"EEEE, MMMM d, yyyy 'at' hh:mm a"}}</h4>
    <br>
    <h4 data-ng-bind="event.description"></h4>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == event.user._id))">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Listed on {{event.created | date:'mediumDate'}} by {{event.user.displayName}}. 
            <span ng-show = "event.edited !== event.created">Last Edited at {{event.edited | date:'medium'}}</span></em>		
	</small>
</section>
