<section data-ng-controller="EventsController" data-ng-init="findOne()" class="container">
	<div class="page-header">
		<h1 data-ng-bind="event.name"></h1>
	</div>
    
    <!-- Display event information -->
    <h4 data-ng-bind="event.category"></h4>
    <h4 data-ng-bind="event.location"></h4>
    <h4 data-ng-bind-template="Start: {{event.datetime_start | date:'medium'}}"></h4>
    <h4 data-ng-bind-template="End: {{event.datetime_end | date:'medium'}}"></h4>
    <h4 data-ng-bind="event.description"></h4>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == event.user._id))">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Listed on {{event.created | date:'mediumDate'}} by {{event.user.displayName}}</em>		
	</small>
</section>
